.menuBtns {
	/* 
    -fx-background-color: PeachPuff,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Calibari";
    -fx-text-fill: linear-gradient(black, black);
    -fx-font-size: 18px;
    -fx-padding: 10 20 10 20;
     */
     
     /*
       -fx-font-family: "Monaco";
     -fx-font-weight: Bold;
     -fx-background-color: PeachPuff;
     -fx-font-size: 18px;
     -fx-padding: 10 20 10 20;
     -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
      */
      
      
      -fx-background-color: PeachPuff,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );  
    -fx-font-family: "Monaco";
    -fx-font-weight: Bold;
    -fx-text-fill: linear-gradient(black, black);
    -fx-font-size: 18px;
    -fx-padding: 10 20 10 20;
    -fx-text-fill: black;
   
}

.textFields {
    -fx-background-color: White;
  	 -fx-border-color: transparent transparent PeachPuff;
}

.addBtns {
	-fx-background-color: White;
	-fx-border-color: PeachPuff;
}

.comboBox {
	-fx-border-color: PeachPuff;
	-fx-background-color: White;
}
