@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.labelHeader{
	-fx-font-family: 'Sarina', cursive;
    -fx-text-fill: white;
    -fx-font-size: 50px;
}

.menuBtns {
      -fx-text-fill: white;
   /*    -fx-font-family: "Monaco"; */ 
       -fx-font-size: 21px;
   -fx-background-color: #3D201C;
   -fx-font-family: 'Concert One', cursive;
}

.menuBtns:disabled {
 -fx-opacity:0.7;
}

.menuBtns:hover {
  -fx-underline: true;    
   /* 
    -fx-background-color: PeachPuff,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );  
    -fx-padding: 10 20 10 20; */ 
}

.textFields {
    -fx-background-color: White;
  /*	 -fx-border-color: transparent transparent PeachPuff; */
  -fx-min-width:3em;
	-fx-max-width:13em;
	-fx-min-height:2.5em;
	-fx-max-height:2.5em;
}

.addBtns {
	-fx-text-fill: white;
	-fx-background-color: #b89b5f;
/* -fx-background-radius: 3px; */
 -fx-font-family: 'Yusei Magic', sans-serif;
	-fx-font-size: 16px;	
	-fx-padding: 10 30 10 30;
	-fx-min-width:7em;
	-fx-max-width:100em;
	-fx-min-height:3em;
	-fx-max-height:3em;
}

.comboBox {
/* 	-fx-border-color: PeachPuff;*/
	-fx-background-color: White;
	-fx-min-width:7em;
	-fx-max-width:16em;
	-fx-min-height:2.5em;
	-fx-max-height:2.5em;
}

.shoppingCartItem{
	-fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1.5;
    -fx-border-color: gray;
}


.button2 {
	-fx-background-color : #3D201C;
	-fx-background-radius :  20;
}
.button2:hover {
	-fx-background-color : transparent;
	-fx-background-radius :  20;
}


.sidePane{
	-fx-background-color: #3D201C;
	-fx-opacity:0.82;
	
	 
}

.topPane{
	-fx-background-color: #3D201C;
	-fx-opacity:0.82;
}

.managerAllText{
	-fx-text-fill: white;
	 -fx-font-family: 'Yusei Magic', sans-serif;
	-fx-font-size: 17px;
}

.customerUpdateDetails{
	-fx-text-fill: white;
	 -fx-font-family: 'Yusei Magic', sans-serif;
	-fx-font-size: 17px;
}

.customerUpdateDetailsTextFields {
    -fx-background-color: white;
  -fx-min-width:3em;
	-fx-max-width:13em;
	-fx-min-height:2.5em;
	-fx-max-height:2.5em;
	-fx-border-radius:10px;
	 -fx-font-family: 'Yusei Magic', sans-serif;
	-fx-font-size: 17px;
	-fx-background-radius:10px;
}

.customerUpdateDetailsTextFields:disabled{
	-fx-opacity:0.8;
	-fx-text-fill:gray;
}

.customerUpdateDetails:disabled{
	-fx-opacity:0.8;
}

/* ****** TABS ***** */
#tabPane{
	-fx-tab-min-width:8em;
	-fx-tab-max-width:14em;
	-fx-tab-min-height:3em;
	-fx-tab-max-height:3em;
	-fx-background-color: transparent;
}

.tab{
	-fx-background-color: #3D201C;
	-fx-opacity:0.82;
	-fx-text-base-color: white;
	 -fx-font-family: 'Concert One', cursive;
	 -fx-font-size: 19px;
	 -fx-padding: 0 30 0 30;
}

.tab:selected{
	-fx-border-width: 5 0 0 0;
	-fx-border-color: white;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}

.tab:selected .focus-indicator{
	-fx-focus-color: transparent;
}

.tab:focused{
	-fx-focus-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.dishInCart{
	
	 -fx-font-family: 'Yusei Magic', sans-serif;
	 -fx-font-size: 16px;
      -fx-text-fill: gray;
	 -fx-padding: 0 0 0 5;
}

.currentPriceLabel{
	 -fx-font-family: 'Concert One', cursive;
	 -fx-font-size: 15px;
}

.confirmOrderButton{
	-fx-background-color: white;
	 -fx-font-family: 'Concert One', cursive;
    -fx-font-size: 18px;
	-fx-min-width:12em;
	-fx-max-width:12em;
	-fx-min-height:2.2em;
	-fx-max-height:2.2em;
}

.customerDashboardLabels{
	-fx-text-fill: white;
	 -fx-font-family: 'Pacifico', cursive;
	-fx-font-size: 24px;
}

.comboBoxDashCust {
/* 	-fx-border-color: PeachPuff;*/
	-fx-background-color: White;
	-fx-min-width:7em;
	-fx-max-width:16em;
	-fx-min-height:2.5em;
	-fx-max-height:2.5em;
	 -fx-font-family: 'Yusei Magic', sans-serif;
	-fx-font-size: 17px;
}

.registration{
	-fx-font-family: 'Poppins', sans-serif;
	-fx-font-size: 14px;
	-fx-text-fill: white;
}

.registrationHeader{
	-fx-text-fill: white;
	-fx-font-family: 'Knewave', cursive;
	-fx-font-size: 27px;
}

.registrationBtns{
	-fx-text-fill: white;
	-fx-font-family: 'Knewave', cursive;
	
	-fx-font-size: 16px;
}
.registrationBtns2{
	-fx-text-fill: white;
	-fx-font-family: 'Poppins', sans-serif;
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}

#tooltip{
	
	-fx-font-family: 'Poppins', sans-serif;
	
	-fx-font-size: 12px;
}

/* TABLE */

.table-view .cell{
 -fx-font-size: 13px;
 -fx-font-family: 'Yusei Magic', sans-serif;
   
}  
	
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
	
	
	-fx-font-family: 'Concert One', cursive;
	 -fx-font-size: 15px;
    -fx-stroke: transparent;
    -fx-size:35;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;

}
.table-row-cell:filled:hover {

    -fx-size:35;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;


}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 35;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( #3D201C,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #3D201C,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/*LIST */
.list-view .cell{
 -fx-font-size: 14px;
 -fx-font-family: 'Yusei Magic', sans-serif;
 -fx-text-alignment: center;
 -fx-alignment: CENTER 
   
}  
.list-cell:filled:hover {

    -fx-size:35;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;


}
